
@{
    ViewBag.Title = "Create_User";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@model DOAN_CLOUND.Models.USER

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateDept</title>
    <!--Bootstrap 4-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>
</head>
<body>
    @using (Html.BeginForm("Create_User", "User", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <h3 class="mt-3" style="color: blue; font-weight: bold">ADD NEW USER</h3>

        <div class="editor-label">
            <h3>Add user infomation</h3>
        </div>

        <div class="editor-label">
            <p>Enter your fullname</p>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HOTEN)
            @Html.ValidationMessageFor(model => model.HOTEN)
        </div>

        <div class="editor-label">
            <p>Enter your chucvu</p>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CHUCVU)
            @Html.ValidationMessageFor(model => model.CHUCVU)
        </div>

        <div class="editor-label">
            <p>Enter your ma nhan vien quan ly</p>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MANV_QUANLY)
            @Html.ValidationMessageFor(model => model.MANV_QUANLY)
        </div>

        <div class="editor-label">
            <p>Enter your birthday</p>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.NGAYSINH, new { @type = "date", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NGAYSINH)
        </div>

        <div class="editor-label">
            <p>Enter your gender</p>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GIOITINH)
            @Html.ValidationMessageFor(model => model.GIOITINH)
        </div>

        <div class="editor-label">
            <p>Enter your Citizen Identification</p>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CMND)
            @Html.ValidationMessageFor(model => model.CMND)
        </div>

        <div class="editor-label">
            <p>Enter your email</p>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EMAIL)
            @Html.ValidationMessageFor(model => model.EMAIL)
        </div>

        <div class="editor-label">
            <p>Enter your role</p>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ROLE)
            @Html.ValidationMessageFor(model => model.ROLE)
        </div>

        <div class="editor-label">
            <p>Enter your address</p>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIACHI)
            @Html.ValidationMessageFor(model => model.DIACHI)
        </div>

        <div class="editor-label">
            <p>Enter your phone number</p>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SODT)
            @Html.ValidationMessageFor(model => model.SODT)
        </div>

        <div class="editor-label">
            <p>Enter your username</p>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.USERNAME)
            @Html.ValidationMessageFor(model => model.USERNAME)
        </div>

        <div class="editor-label">
            <p>Enter your password</p>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PASSWORD)
            @Html.ValidationMessageFor(model => model.PASSWORD)
        </div>

        <p class="form-group" style="margin-top: 20px">
            <input type="submit" class="btn btn-primary" value="Create" />
        </p>

        <div>
            @Html.ActionLink("Back to List", "Index_User", "Home")
        </div>
    }
</body>
</html>


