
@{
    ViewBag.Title = "Create_User";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@model DOAN_CLOUND.Models.KhachHang
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal" style="width:25%; margin:20px auto; padding:10px; box-shadow:1px 1px 2px 2px #888888; border-radius:10px">
                <h3 style="text-align:center">Thêm mới khách hàng</h3>
                <hr />

                <div class="form-group">
                    @Html.LabelFor(model => model.HOTEN, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div style="max-width:100%" class="col-md-10">
                        @Html.EditorFor(model => model.HOTEN, new { @htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HOTEN, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CHUCVU, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div style="max-width:100%" class="col-md-10">
                        @Html.EditorFor(model => model.CHUCVU, new { @htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CHUCVU, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MANV_QUANLY, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div style="max-width:100%" class="col-md-10">
                        @Html.EditorFor(model => model.MANV_QUANLY, new { @htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MANV_QUANLY, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NGAYSINH, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div style="max-width:100%" class="col-md-10">
                        @Html.EditorFor(model => model.NGAYSINH, new { @htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NGAYSINH, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.GIOITINH, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div style="max-width:100%" class="col-md-10">
                        @Html.EditorFor(model => model.GIOITINH, new { @htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GIOITINH, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CMND, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div style="max-width:100%" class="col-md-10">
                        @Html.EditorFor(model => model.CMND, new { @htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CMND, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EMAIL, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div style="max-width:100%" class="col-md-10">
                        @Html.EditorFor(model => model.EMAIL, new { @htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ROLE, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div style="max-width:100%" class="col-md-10">
                        @Html.EditorFor(model => model.ROLE, new { @htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ROLE, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DIACHI, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div style="max-width:100%" class="col-md-10">
                        @Html.EditorFor(model => model.DIACHI, new { @htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DIACHI, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SODT, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div style="max-width:100%" class="col-md-10">
                        @Html.EditorFor(model => model.SODT, new { @htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SODT, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <br />
                        <br />
                        <p>
                            @Html.ActionLink("Back to List", "Index_User", "", new { @class = "btn btn-info" })
                        </p>

                    </div>
                </div>
            </div>
            }

        </div>
    </div>
</div>


