@model IEnumerable<DOAN_CLOUND.Models.GioHang>

@{
    ViewBag.Title = "Giỏ Hàng";
    Layout = "~/Views/Shared/_LayoutPage1_User.cshtml";
}

<style>
    /*span {
        color: red;
        margin-left: 30px;
        font-size: 20px;
        font-weight: bold;
    }

    #chuaspan {
        width: 100%;
        background-color: white;
        text-align: left;
    }*/

    /*h1{
        font-size: 50px;
    }*/
</style>


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Giỏ Hàng</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    

    <section class="home-slider owl-carousel">

        <div class="slider-item" style="background-image: url(/images/bg_3.jpg);" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center">

                    <div class="col-md-7 col-sm-12 text-center ftco-animate">
                        <h1 class="mb-3 mt-5 bread">Cart</h1>
                        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Cart</span></p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="cart-list">
                        <table class="table">
                            <thead class="thead-primary">
                                <tr class="text-center">
                                    <th>Dish</th>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TENHANG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DVT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CATE_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HINHANH)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>

            <tr class="text-center">
                <td class="product-remove"><a href="#"><span class="icon-close"></span></a></td>

                <td class="image-prod"><div class="img" style="background-image: url(@item.HINHANH);"></div></td>

                <td class="product-name">
                    <h3>@item.TENHANG</h3>
                    <p>@item.DVT</p>
                </td>

                <td class="price">$4.90</td>

                <td class="quantity">
                    <div class="input-group mb-3">
                        <input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
                    </div>
                </td>

                <td class="total">$4.90</td>
            </tr>
        }*@

                                @*@foreach (var item in Model)
        {


            <tr class="text-center">
                @using (Html.BeginForm("UpdateGioHang", "Home", new { id = item.Id_san_pham }))
                {
                    <td class="product-remove">@Html.ActionLink("Delete", "XoaGioHang", "Home", new { id = item.Id_san_pham }, new { @class = "btn btn-danger btn-sm" })</td>

                    <td>
                        <button type="submit" class="btn btn-success btn-sm text-white" style="color:white!important; padding:3px; width:80px; height:40px">Update</button>
                    </td>

                    <td class="image-prod"><div class="img" style="background-image:url('@item.Anhbia'); border-radius: 5px;"></div></td>

                    <td class="product-name">
                        <h3>@item.Ten_san_pham</h3>
                    </td>

                    <td class="price">@item.Dongia VND</td>

                    <td class="quantity">
                        <div class="input-group mb-3">
                            <input type="number" name="txtsoluong" class="quantity form-control input-number" value="@item.Soluong" min="1" max="100" onchange="updateTotal(this)" style="width: 100px !important; max-width: 80px; left: 50px; text-align: center;">
                        </div>
                    </td>

                    <td class="total">@item.Thanhtien VND</td>
                }
            </tr>

        }*@
                                @foreach (var item in Model)
                                {
                                    <tr class="text-center" id="row-@item.Id_san_pham">
                                        <td class="image-prod">
                                            <div class="img" style="background-image:url('@item.Anhbia'); border-radius: 5px;"></div>
                                        </td>


                                        <td class="product-name">
                                            <h3>@item.Ten_san_pham</h3>
                                        </td>

                                        <td class="price">@item.Dongia VND</td>
                                        <td class="quantity">
                                            <div class="input-group mb-3">
                                                @*Input có id là quantity- cho chỗ hiển thị số lượng*@
                                                <input type="number" id="quantity-@item.Id_san_pham" class="quantity form-control input-number" value="@item.Soluong" min="1" max="100" onchange="updateTotal(this)" style="width: 100px !important; max-width: 80px; left: 50px; text-align: center;">
                                            </div>
                                        </td>

                                        <td class="total" id="total-@item.Id_san_pham">@item.Thanhtien VND</td>

                                            <td class="product-remove">@Html.ActionLink("Delete", "XoaGioHang", "Home", new { id = item.Id_san_pham }, new { @class = "btn btn-danger btn-sm" })</td>

                                            <td>
                                                @*<button type="button" class="btn btn-success btn-sm text-white" onclick="updateCart(@item.Id_san_pham)" style="color:white!important; padding:3px; width:80px; height:40px">Update</button>*@
                                                @Html.ActionLink("Update", "CapNhatGioHang", "Home", new { id = item.Id_san_pham }, new { @class = "btn btn-success btn-sm text-white", @onclick = "updateCart(" + item.Id_san_pham + "); return false;" })
                                            </td>

                                        <style>
                                            .text-center .btn {
                                                padding: 8px 12px !important;
                                                width: 80px;
                                            }
                                        </style>
                                    </tr>
                                }
                                




                                <!-- END TR-->
                                <!--<tr class="text-center">
        <td class="product-remove"><a href="#"><span class="icon-close"></span></a></td>

        <td class="image-prod"><div class="img" style="background-image:url(/images/dish-2.jpg);"></div></td>

        <td class="product-name">
            <h3>Grilled Ribs Beef</h3>
            <p>Far far away, behind the word mountains, far from the countries</p>
        </td>

        <td class="price">$15.70</td>

        <td class="quantity">
            <div class="input-group mb-3">
                <input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
            </div>
        </td>

        <td class="total">$15.70</td>
    </tr>-->
                                <!-- END TR-->
                            </tbody>
                        </table>

                        @*<div class="mt-3">
                                <span class=" font-weight-bold ml-3 text-primary text-start">Số Lượng: @ViewBag.soluong</span>
                                <span class="font-weight-bold text-primary text-end">Tổng Tiền: @ViewBag.tongtien</span>
                            </div>*@




                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col col-lg-3 col-md-6 mt-5 cart-wrap ftco-animate">
                    <div class="cart-total mb-3">
                        <h3>Cart Totals</h3>
                        <hr>
                        <p class="d-flex total-price">
                            <span>Total</span>
                            <span id="cart-total">@ViewBag.tongtien VND</span>
                        </p>
                        <hr />
                        <div class="mt-3 p-1">
                            @Html.ActionLink("Delete All", "DeleteAll", "Home", new { @class = "btn btn-danger btn-lg" })
                        </div>
                        <div class="mt-3 p-1">
                            @Html.ActionLink("Đặt Hàng", "DatHang", "Home", new { @class = "btn btn-success btn-lg" })
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    @*<section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center mb-5 pb-3">
                    <div class="col-md-7 heading-section ftco-animate text-center">
                        <span class="subheading">Discover</span>
                        <h2 class="mb-4">Related products</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="menu-entry">
                            <a href="#" class="img" style="background-image: url(/images/menu-1.jpg);"></a>
                            <div class="text text-center pt-4">
                                <h3><a href="#">Coffee Capuccino</a></h3>
                                <p>A small river named Duden flows by their place and supplies</p>
                                <p class="price"><span>$5.90</span></p>
                                <p><a href="#" class="btn btn-primary btn-outline-primary">Add to Cart</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="menu-entry">
                            <a href="#" class="img" style="background-image: url(/images/menu-2.jpg);"></a>
                            <div class="text text-center pt-4">
                                <h3><a href="#">Coffee Capuccino</a></h3>
                                <p>A small river named Duden flows by their place and supplies</p>
                                <p class="price"><span>$5.90</span></p>
                                <p><a href="#" class="btn btn-primary btn-outline-primary">Add to Cart</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="menu-entry">
                            <a href="#" class="img" style="background-image: url(/images/menu-3.jpg);"></a>
                            <div class="text text-center pt-4">
                                <h3><a href="#">Coffee Capuccino</a></h3>
                                <p>A small river named Duden flows by their place and supplies</p>
                                <p class="price"><span>$5.90</span></p>
                                <p><a href="#" class="btn btn-primary btn-outline-primary">Add to Cart</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="menu-entry">
                            <a href="#" class="img" style="background-image: url(/images/menu-4.jpg);"></a>
                            <div class="text text-center pt-4">
                                <h3><a href="#">Coffee Capuccino</a></h3>
                                <p>A small river named Duden flows by their place and supplies</p>
                                <p class="price"><span>$5.90</span></p>
                                <p><a href="#" class="btn btn-primary btn-outline-primary">Add to Cart</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@

    


</body>
<script>
    // JS xử lý sự kiện khi click vào nút Update số lượng của sản phẩm nằm trong giỏ hàng
    function updateCart(productId) {
    var quantity = document.getElementById('quantity-' + productId).value;

    // Gửi yêu cầu ajax
    $.ajax({
        url: '@Url.Action("UpdateGioHang", "Home")',
        type: 'POST',
        data: {
            id: productId,
            txtsoluong: quantity
        },
        success: function (response) {
            // Cập nhật giá trị tổng tiền và số lượng tại đây
            var totalPrice = response.totalAmount; // Giả sử bạn trả về totalAmount từ Action
            var totalElement = document.getElementById('total-' + productId);
            totalElement.innerHTML = totalPrice + ' VND';

            // Cập nhật tổng tiền giỏ hàng
            var cartTotalElement = document.getElementById('cart-total');
            cartTotalElement.innerHTML = response.cartTotal + ' VND'; // Cập nhật tổng giỏ hàng;

            $('.bag small').html(response.quantityTotal); // ở đây là do bên layout dùng chung mình có cái giỏ hàng nằm trong class tên là bag (.bag) và small là icon hiển thị số lượng nằm trong nó
            // .html(response.quantityTotal) thay đổi nội dung của thẻ small mới lấy ra ở trên
        },
        error: function (xhr, status, error) {
            alert('Có lỗi xảy ra! Vui lòng thử lại.');
        }
    });
}
</script>
</html>


















@*<div class="mt-3">
        <span class=" font-weight-bold ml-3 text-primary text-start">Số Lượng: @ViewBag.soluong</span>
        <span class="font-weight-bold text-primary text-end">Tổng Tiền: @ViewBag.tongtien</span>
    </div>

    <div class="mt-3 p-3">
        @Html.ActionLink("Delete All", "DeleteAll", "Home", new { @class = "btn btn-danger btn-lg" })
    </div>

    <div class="mt-3 p-3">
        @Html.ActionLink("Đặt Hàng", "DatHang", "Home", new { @class = "btn btn-success btn-lg" })
    </div>*@






