@model IEnumerable<DOAN_CLOUND.Models.CATEGORy>

@{
    ViewBag.Title = "Index_Category";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Category</h2>

<p>
    @Html.ActionLink("Create New", "Create_Category", "Category") 
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>FEATURE</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.ActionLink("Update", "Update_Category", "Category", new { id = item.ID }, null) |
            @Html.ActionLink("Delete", "Delete_Category", "Category", new { id = item.ID }, null)
        </td>
    </tr>
}

</table>
